<div class="container">
  <h1><%= @list.name  %></h1>
  <%= link_to "New bookmark", new_list_bookmark_path(@list)  %>
  <% @list.bookmarks.each do |bookmark| %>
    <div>
      <div>
        <h3><%= bookmark.comment %></h3>
        <%= link_to bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
      <h4><%= bookmark.movie.title %></h4>
      <img src="<%= bookmark.movie.poster_url%>" alt="" style="width:200px;">
      <p><%= bookmark.movie.overview %></p>
    </div>
  <% end %>
</div>
