<div class="container">
  <div class="form-bck shadow">
    <h1>Create your bookmark in <strong><%= @list.name %></strong> list</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
